<div>
    <div>Order: {{order.$key}}</div>
    <div>Date: {{order.createDate | date:'short'}}</div>
    <div>Total price: {{order.totalPrice | currency:'USD':true:'1.2-2'}}</div>
    <div>Status: {{order.status}}</div>
    <div>Order items:</div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Subtotal</th>
        </thead>
        <tbody>
            <tr *ngFor="let orderItem of order.items">
                <th scope="row">{{orderItem.productName}}</th>
                <th>{{orderItem.quantity}}</th>
                <th>{{orderItem.price | currency:'USD':true:'1.2-2'}}</th>
                <th>{{orderItem.subtotal | currency:'USD':true:'1.2-2'}}</th>
            </tr>
        </tbody>
    </table>
</div>