<h3>Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Status</th>
            <th>Total price</th>
            <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <th scope="row">{{order.$key}}</th>
            <th>{{order.createDate | date:'short'}}</th>
            <th>{{order.status}}</th>
            <th>{{order.totalPrice | currency:'USD':true:'1.2-2'}}</th>
            <th><a href="#" [routerLink]="['/orders/', order.$key]">Details</a></th>
        </tr>
    </tbody>
</table>