<h3>Products</h3>
<button class="btn btn-primary" type="submit" [routerLink]="['/admin/products/create']">Create product</button>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Hidden</th>
            <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th scope="row">{{product.$key}}</th>
            <th>{{product.name}}</th>
            <th>{{product.price}}</th>
            <th>{{product.hidden ? true : false}}</th>
            <th><a href="#" [routerLink]="['/admin/products/edit', product.$key]">edit</a></th>
        </tr>
    </tbody>
</table>