<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>

    <h2>{{title}}</h2>

    <label for="name" class="sr-only">Product name</label>
    <input type="text" [(ngModel)]="product.name" formControlName="name" class="form-control" placeholder="Product name" autofocus>

    <label for="price" class="sr-only">Product price</label>
    <input type="text" [(ngModel)]="product.price" formControlName="price" class="form-control" placeholder="Product price">

    <div *ngIf="authSvc.isAdmin" class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="hidden" [(ngModel)]="product.hidden" class="form-check-input">
          Hidden
        </label>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Save</button>
</form>