<div>
    <div>Order: {{order.$key}}</div>
    <div>User: {{order.userName}}</div>
    <div>Date: {{order.createDate | date:'short'}}</div>
    <div>Status: {{order.status}}</div>
    <div>Total price: {{order.totalPrice | currency:'USD':true:'1.2-2'}}</div>
    <div>Payment email: {{order.payment.email}}</div>
    <div>Payment token: {{order.payment.tokenId}}</div>
    <div>Payment type: {{order.payment.type}}</div>
    <div>Order items:</div>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
        </thead>
        <tbody>
            <tr *ngFor="let orderItem of order.items">
                <th scope="row">{{orderItem.productName}}</th>
                <th>{{orderItem.quantity}}</th>
                <th>{{orderItem.price | currency:'USD':true:'1.2-2'}}</th>
                <th>{{orderItem.subtotal | currency:'USD':true:'1.2-2'}}</th>
            </tr>
        </tbody>
    </table>
</div>

<button *ngIf="canShip" class="btn btn-primary" (click)="shipOrder()">Ship order</button>
<button *ngIf="authSvc.isAdmin" class="btn btn-primary" (click)="deleteOrder()">Delete order</button>