<form class="form-signin" (ngSubmit)="onSigninSubmit()" [formGroup]="form" novalidate>

        <h2 class="form-signin-heading">Please Log In</h2>

        <label for="email" class="sr-only">Email address</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Email address" autofocus>
        
        <label for="password" class="sr-only">Password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="Password">
        
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!form.valid">Log In</button>
    </form>