<form class="form-signin" (ngSubmit)="onSignupSubmit()" [formGroup]="form" novalidate>

    <h2 class="form-signin-heading">Please sign in</h2>
    
    <label for="email" class="sr-only">Email address</label>
    <input type="email" formControlName="email" class="form-control" placeholder="Email address" autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="password" formControlName="password" class="form-control" placeholder="Password">

    <label for="confirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">

    <re-captcha site_key="6LfMLzAUAAAAABtfP1WaGhHGp2Evry0SMTuW6iF9" type="image" (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!form.valid || !captchaPassed">Sign Up</button>
</form>