<h3>Products</h3>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th scope="row">{{product.$key}}</th>
            <th>{{product.name}}</th>
            <th>{{product.price}}</th>
            <th><a *ngIf="showCart" href="#" (click)="addToCart(product.$key)">Add to cart</a></th>
        </tr>
    </tbody>
</table>

<div *ngIf="showCart">
    <h3>Cart</h3>
    <div *ngIf="emptyCart">Cart is empty</div>
    <div *ngIf="!emptyCart">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th></th>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of cart.items">
                    <th scope="row">{{cartItem.productName}}</th>
                    <th>{{cartItem.quantity}}</th>
                    <th>{{cartItem.subtotal | currency:'USD':true:'1.2-2'}}</th>
                    <th><a href="#" (click)="addToCart(cartItem.productId)">+</a></th>
                    <th><a href="#" (click)="decCount(cartItem.productId)">-</a></th>
                    <th><a href="#" (click)="removeFromCart(cartItem.productId)">x</a></th>
                </tr>
            </tbody>
        </table>
        <span>Cart total: {{cart.totalPrice | currency:'USD':true:'1.2-2'}}</span>
        <button class="btn btn-primary" [routerLink]="['/payment']">Checkout</button>
    </div>
</div>