<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Angular 4 E-commerce</a>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" href="#" [routerLink]="['/products']">Products</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isAdmin || isManager">
            <a class="nav-link" href="#" [routerLink]="['/admin/products']">Admin Products</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isAdmin">
            <a class="nav-link" href="#" [routerLink]="['/admin/users']">Admin Users</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isAdmin || isManager">
            <a class="nav-link" href="#" [routerLink]="['/admin/orders']">Admin Orders</a>
        </li>
    </ul>
    <div class="nav navbar-nav mt-2 mt-md-0 ml-md-auto">
        <div *ngIf="user" class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                href='#'>{{user.email}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#" [routerLink]="['/orders']">Orders</a>
                <a class="dropdown-item" href="#" (click)="logout();false">Log Out</a>
            </div>
        </div>
        <a *ngIf="!user" href="#" class="nav-link" (click)="login();false">Log In</a>
        <a *ngIf="!user" href="#" class="nav-link" (click)="register();false">Register</a>
    </div>
</nav>