<h3>Users</h3>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{user.$key}}</th>
            <th>{{user.email}}</th>
            <th><a href="#" [routerLink]="['/admin/users/edit', user.$key]">edit</a></th>
        </tr>
    </tbody>
</table>