<form (ngSubmit)="onSubmit()" [formGroup]="form"  novalidate>

    <h2>{{title}}</h2>

    <div class="form-group">
        <label for="email" class="sr-only">User email</label>
        <input type="text" [(ngModel)]="user.email" formControlName="email" class="form-control" placeholder="User email" autofocus>
    </div>

    <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="admin" [(ngModel)]="user.roles.admin" class="form-check-input">
          Admin
        </label>
    </div>

    <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="manager" [(ngModel)]="user.roles.manager" class="form-check-input">
          Manager
        </label>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>